In [1]:
import pyodbc 
import pandas as pd 
import maxminddb
import geoip2.database

In [2]:
query = """select Email, Type , Name , MA_URL , MA_Referrer , ma_path , IP_Address ,
        Date ,
       datepart(hour,try_convert(Datetime2 , date, 103)) as Hour , cast((try_convert(Datetime2 , date, 103)) as date) as Dates ,
       try_convert(Datetime2 , date, 103) as DateTime,
       Template_ID, List_ID,Form_ID,Campaign_ID,Campaign_Name , Scenario_ID , URL , Link , Tag
from Uniace_1_Clean
union
select Email, Type , Name , [MA URL] , [MA Referrer] , ma_path , [IP Address] ,
        Date ,
       datepart(hour,try_convert(Datetime2 , date, 103)) as Hour , cast((try_convert(Datetime2 , date, 103)) as date) as Dates ,
       try_convert(Datetime2 , date, 103) as DateTime,
       [Template ID], [List ID],[Form ID],[Campaign ID],[Campaign Name] , [Scenario ID] , URL , Link , Tag
from Uniace_2
union
select Email, Type , Name , [MA URL] , [MA Referrer] , ma_path , [IP Address] ,
        Date ,
       datepart(hour,try_convert(Datetime2 , date, 103)) as Hour , cast((try_convert(Datetime2 , date, 103)) as date) as Dates ,
       try_convert(Datetime2 , date, 103) as DateTime,
       [Template ID], [List ID],[Form ID],[Campaign ID],[Campaign Name] , [Scenario ID] , URL , Link , Tag
from Uniace_3
"""

In [3]:
server = 'longth.database.windows.net'
database = 'LongTH'
username = 'student'
password = 'zxcASDqwe!@#'   
driver= '{ODBC Driver 17 for SQL Server}'

In [4]:
cnx = pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)

In [5]:
df = pd.read_sql(query,cnx)

In [6]:
df.head(5)

,Email,Type,Name,MA_URL,MA_Referrer,ma_path,IP_Address,Date,Hour,Dates,DateTime,Template_ID,List_ID,Form_ID,Campaign_ID,Campaign_Name,Scenario_ID,URL,Link,Tag
0,None,identify,None,None,None,None,vuthiyen2209@gmail.com,None,NaN,None,NaT,None,None,None,None,None,None,https://uniace.vn/my-account/,None,None
1,None,identify,None,None,None,None,xuann6459@gmail.com,None,NaN,None,NaT,None,None,None,None,None,None,https://uniace.vn/my-account/my-courses/,None,None
2,None,identify,None,None,None,None,xuanthai1910.dxt@gmail.com,16-08-2021 13:03:59,13.0,2021-08-16,2021-08-16 13:03:59,None,None,None,None,None,None,https://uniace.vn/,None,None
3,None,identify,None,None,None,None,yenhth18408c@st.uel.edu.vn,23-08-2021 12:50:42,12.0,2021-08-23,2021-08-23 12:50:42,None,None,None,None,None,None,https://uniace.vn/my-account/,None,None
4,None,identify,None,None,None,None,yenphat149@gmail.com,None,NaN,None,NaT,None,None,None,None,None,None,https://uniace.vn/my-account/,None,None

In [8]:
IP = df['IP_Address'].to_list()

In [13]:
def retrieve_city_from_ip(ip):
    city = []
    for i in range(len(ip)):
        reader = geoip2.database.Reader('C:\\Data\\mnt\\nhdd\\2022\\checkip\\GeoIP2-City_20220308\\GeoIP2-City.mmdb')
        try :
            data = reader.city(ip[i])
            #print(data.city.names['en'])
            city.append(data.city.names['en'])
        except:
            #print('The address {} is not in the database'.format(ip[i]))
            city.append('The address is not in the database'.format(ip[i]))
    data = {'IP':ip,'City':city}
    return data

In [14]:
data = retrieve_city_from_ip(IP)

In [16]:
result = pd.DataFrame(data)

In [18]:
result[result['City'] != 'The address is not in the database']

                    IP              City
62     113.173.213.237  Ho Chi Minh City
63      103.199.39.170  Ho Chi Minh City
64       103.199.47.82  Ho Chi Minh City
65       103.199.47.82  Ho Chi Minh City
66       103.199.47.82  Ho Chi Minh City
...                ...               ...
69083   171.236.48.251            My Tho
69084   171.236.48.251            My Tho
69085   171.236.48.251            My Tho
69086   171.236.48.251            My Tho
69087   171.236.48.251            My Tho

[42902 rows x 2 columns]

In [21]:
result = result.drop_duplicates()

In [22]:
result.to_csv('city_df.csv')